<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Chef - CampusHash Events Framework">
  <meta name="author" content="Sanket <sanket@campushash.com>">

  <title>My AngularJS App</title>
  
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/static/css/app-theme.css">
  <link rel="stylesheet" href="/static/css/app.css">
</head>

<body>
  
  <div id="wrapper">
    
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navgation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Chef</a>
      </div>

      <!-- Sidebar -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
          <li class="active"><a href="#/home">Home</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="/static/lib/angular/angular.js"></script>
  <script src="/static/js/app.js"></script>
  <script src="/static/js/services.js"></script>
  <script src="/static/js/controllers.js"></script>
  <script src="/static/js/filters.js"></script>
  <script src="/static/js/directives.js"></script>
</body>
</html>
