<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Chef - CampusHash Events Framework">
  <meta name="author" content="Sanket <sanket@campushash.com>">

  <title>Chef &raquo; Installation</title>
  
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  
  <!-- Custom CSS -->
  <!-- <link rel="stylesheet" href="/static/css/app-theme.css"> -->
  <link rel="stylesheet" href="/static/lib/flat-ui/css/flat-ui.css">
  <link rel="stylesheet" href="/static/css/register.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="register-box">
          <img class="logo-large" src="/static/img/chef-logo.png" alt="Chef Logo">
          <form class="register-form" action="/register/" method="POST">
            {% csrf_token %}
            <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-info btn-block" type="submit">
              Install
            </button>
            <a href="#" id="chef-help" class="pull-right register-help" data-toggle="popover" title="Chef Help" data-content="Create a super-user for your Chef installation here. You can create admins / mods later." data-placement="right">Need help?</a><span class="clearfix"></span>
          </form>
        </div>
        <div class="copyright text-center">&copy; 2013 <a href="http://campushash.com">CampusHash</a></div>
      </div>
    </div>
  </div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="/static/lib/jquery/jquery.min.js"></script>
  <script src="/static/lib/bootstrap/bootstrap.js"></script>
  <script>
    $("#chef-help").popover({'container' : 'body'});
  </script>
</body>
</html>
