// General Colors

@white: #fff;

// CampusHash Brand Colors

@ch-blue: #192959;

// Font Sizes

@smaller-font: 12px;
@small-font: 14px;
@paragraph-font-size: 16px;
@base-font-size: 17px;
@h6-font-size: 21px;
@logo-font-size: 25px;
@left-menu-font-size: 15px;
@top-menu-font-size: 17px;
@button-font-size: 18px;

// Common Padding

@menus-padding-left: 25px;
@content-padding-left: 30px;

// Top Menu 

@top-menu-height: 75px;
@top-menu-width: 100%;
@top-menu-bg: @ch-blue;
@top-menu-item-color: @gray-light;
@top-menu-item-padding-right: 20px;
@top-menu-item-font-size: @top-menu-font-size;
@top-menu-logo-width: 185px;